
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
    --white: #EFE9F4;
    --celeste: #5FBFF9;
    --purple: #5863F8;
    --black: #171d19;
    --blue: #16BAC5;


   
}


.text-white   { color: var(--white); }
.text-celeste { color: var(--celeste); }
.text-purple   { color: var(--purple); }
.text-black { color: var(--black); }
.text-blue { color: var(--blue); }

.bg-black { background-color: var(--black); }
.bg-primary { background-color: var(--white); }
.bg-blue { background-color: var(--blue); }
.bg-celeste { background-color: var(--celeste); }


